{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pur Beurre</title>
    <link rel="stylesheet" type="text/css" href="{% static '/listing/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'listing/images/logo_pur_beurre-favicon.png' %}">
</head>
<body>
    {% include 'listing/navbar.html' %}
    {% block content %}{% endblock content %}
    {% include 'listing/footer.html' %}
</body>
</html>